*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    background-color: rgb(234, 240, 240);
    display: flex;
    justify-content:space-between;
}

/*.nav-button{
    background-color: rgb(68, 8, 8);
    padding: 8px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 10%;
    color: white;
}*/
/*.hero-section{
    background-color: rgb(68, 8, 8);
    height: 40vh;
    text-align: center;
    align-content: center;
    color: white;
}
.hero-section h1{
    font-size: 2.30rem;
}
.hero-section button{
    background-color: rgba(255, 66, 66, 0.973);
    color: white;
    padding: 0.70rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.50rem;
    font-size: 0.90rem;
}*/
/*.cards{
    display: flex;
    background-color: whitesmoke;
    
}
.cards h3{
    background-color: lightgreen;
    align-content: center;
    border-radius: 15px;
    width: 100%;
    height: 55vh;
    margin: 5px;

}*/